#myform fieldset{
    display: inline-block; 
    direction: rtl; 
    border: 0; 
}
#myform fieldset legend{
    text-align: left;
}
#myform input[type=radio]{
    display: none; 
}
#myform label{
    font-size: 2em; 
    color: transparent; 
    text-shadow: 0 0 0 #f0f0f0; 
}
#myform label:hover{
    text-shadow: 0 0 0  yellow; 
}
#myform label:hover ~ label{
    text-shadow: 0 0 0  yellow; 
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 yellow; 
}
#review_textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    border: solid 1.5px ;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}